.background-homepage {
    opacity: 0.09;
}

.button-menu {
    background: var(--Orange-Normal, #E64827);
}

@media only screen and (max-width: 450px) {
    .button-menu {
        background: none;
        border-radius: 24px;
        border: 1px solid var(--greyscaletext-0, #FFF);
    }

    .button-close {
        position: absolute;
        top: 20px;
        right: 100%;
        cursor: pointer;
    }

    .container {
        padding: 10px !important;
    }

    .booking-home {
        display: none !important;
    }

    .welcome {
        display: none !important;
    }

    .header-nav {
        justify-content: space-between !important;
        display: flex !important;
        padding: 0 !important;
        padding-top: 50px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;

    }

    .image-container {
        display: flex !important;
        width: 375px !important;
        justify-content: center !important;
        align-items: flex-start !important;
        align-content: flex-start !important;
        flex-wrap: wrap !important;

    }

    .Personalization-1 {
        gap: 10px !important;
    }

    .Personalization-2 {
        gap: 10px !important;
    }

    .circle-border {
        width: 110px !important;
        height: 110px !important;
        flex-shrink: 0 !important;
    }

    .circle-rotator {
        width: 110px !important;
        height: 110px !important;
        flex-shrink: 0 !important;
    }

    .about-content {
        margin-bottom: 45px !important;
    }

    .fixed-text {
        color: var(--greyscaletext-0, #FFF) !important;
        text-align: center !important;
        font-size: 8px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 120% !important;
        /* 9.6px */
        text-transform: uppercase !important;
    }

    .about-content>h2 {
        color: #FFF !important;
        width: 320.605px !important;
        text-align: center !important;
        font-size: 24px !important;
        font-style: normal !important;
        font-weight: 900 !important;
        line-height: 120% !important;
        letter-spacing: 0.06px !important;
        opacity: 0.8 !important;
    }


    .title-brand {
        display: none !important;
    }

    .background-about {
        background-image: url("../img/Group.png") #122718 no-repeat !important;
        background-size: 390px 190px !important;
    }

    .header-detail {
        display: none !important;
        background: var(--green-dark-active, #103223) !important;
    }

    .start-with {
        display: flex !important;
        color: var(--greyscaletext-0, #FFF) !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 800 !important;
        line-height: 120% !important;
        letter-spacing: 0.14px !important;
        text-transform: uppercase !important;
        padding-bottom: 12px !important;
    }

    .title {
        color: var(--greyscaletext-0, #FFF) !important;
        font-size: 40px !important;
        font-style: normal !important;
        font-weight: 900 !important;
        line-height: 120% !important;
        width: 256.715px !important;
    }

    .title-start {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
    }

    .text-section {
        margin: 0 !important;
    }

    .content-detail {
        width: 300px !important;
        color: var(--greyscaletext-0, #FFF);
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 150% !important;
        letter-spacing: 0.035px !important;
        opacity: 0.8 !important;
    }

    .tick-detail {
        width: 350px !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 12px !important;
        align-self: stretch !important;
    }

    .tick-icon {
        height: 14px !important;
        flex-shrink: 0 !important;
    }

    .tick-icon p {
        color: var(--greyscaletext-5, #F1F1F1);
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 800 !important;
        line-height: 120% !important;
        flex: 1 0 0 !important;
    }

    .USP {
        color: var(--greyscaletext-5, #F1F1F1);
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 800 !important;
        line-height: 120% !important;
        display: flex !important;
        align-items: baseline !important;
    }

    .button-detail {
        width: 350px !important;
        display: flex !important;
        padding: 0px 20px !important;
        justify-content: center !important;
        align-items: flex-start !important;
        gap: 8px !important;
        align-self: stretch !important;
    }

    .button-detail1 {
        display: flex !important;
        height: 48px !important;
        padding: 12px 24px !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 8px !important;
        flex: 1 0 0 !important;
        border-radius: 8px !important;
        border: 1px solid var(--orange-normal-hover, #DA4B19);
        background: var(--orange-normal-hover, #DA4B19);
        padding: 12px 24px !important;
    }

    .button-detail2 {
        display: flex !important;
        height: 48px !important;
        padding: 12px 24px !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 0px !important;
        flex: 1 0 0 !important;
        border-radius: 8px !important;
        border: 1px solid var(--BACKGROUND-ELEVATION-5, #FFF);
        opacity: 0.6 !important;
    }

    .button-detail2 svg {
        display: none !important;
    }

    .button-detail1 svg {
        display: none !important;
    }

    .button-person1 {
        padding: 12px 24px !important;
    }


    .button-person2 {
        padding: 12px 24px !important;
    }

    .content-section {
        margin-bottom: 42px !important;
    }

    .content-video {
        display: flex !important;
        flex-direction: column !important;
        /* align-items: flex-start; */
        gap: 48px !important;
    }

    .title-video {
        width: 375px !important;
        /* height: 243px; */
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .welcome {
        display: flex !important;
        justify-content: center !important;
        color: var(--greyscaletext-0, #FFF);
        font-family: "Trip Sans";
        font-size: 7.462px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 100% !important;
        opacity: 0.4 !important;
        padding-bottom: 5px !important;
    }

    .naturally {
        color: var(--Green-Light, #E9F1ED);
        font-family: "Londrina Solid";
        font-size: 23.216px !important;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
    }

    .text-change {
        display: none !important;
    }

    .beautiful {
        max-width: 240px !important;
        width: 100% !important;
        top: 0 !important;
        top: 50% !important;
        margin-bottom: 50px !important;

    }

    .video-detail {
        width: 198.763px !important;
        height: 111.804px !important;
        flex-shrink: 0 !important;
        transform: translateY(-10px) !important;
    }

    .section-gladdest {
        display: none !important;
    }

    .map {
        display: none;
    }

    .cards-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        padding: 0;
        overflow-y: hidden;
        gap: 0;
        padding-right: 0;
        padding-top: 0;
        overflow: hidden;

    }

    .cards {
        display: flex;
        padding: 0px 20px;
        align-items: flex-start;
        gap: 12px;
        width: 1116px;
        height: 373px;
    }

    .card-tour {
        display: flex;
        width: 270.008px;
        height: 373.433px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15.79px;
        border-radius: 16px;
    }

    .tag {
        display: none;
    }

    .amenities {
        display: none;
    }

    .cta_layout {
        position: absolute;
    }


    .map-container {
        position: relative;
        height: auto;
        display: flex;
        width: 375px;
        padding: 0px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

    }

    .map-container h2 {
        color: var(--greyscaletext-80-main, #262626);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        align-self: stretch;
        height: 96px;
    }

    .section3-container {
        display: none;

    }

    .footer-section {
        display: none;

    }

    .weather-info {
        overflow: hidden;
        position: static;
    }

    .weather-card img {
        width: 343px;
        height: 206.188px;
        flex-shrink: 0;
        border-radius: 5.489px;
    }
}

.section1 {
    position: sticky;
    top: 0;
    z-index: 1;


}



.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 642px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transform: translateY(-100%);
    transition: transform 0.3s ease, z-index 0.3s ease;
    border-radius: 0px 0px 24px 24px;
}

.menu.open {
    transform: translateY(0);
    z-index: 1000;
}

.menu-left,
.menu-right {
    width: 50%;
    height: 100%;
    position: relative;
}

.menu-left {
    background:
        url(../img/bg4.png)#122718 no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px;
    padding-left: 80px;

}

.menu-right {
    background-image: url("../../assets/img/bg4.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-logo {
    padding-bottom: 20px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin-top: 71px;
}


.menu-list {
    width: 360px;
}

.menu-item {
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--greyscaletext-0, #FFF);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    display: flex;


}

.menu-divider {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: #fff;
    margin: 8px 0;

}

.button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu-left,
    .menu-right {
        width: 100%;
        height: auto;
    }

    .menu-right {
        display: none;
        /* Ẩn menu right trên các thiết bị nhỏ hơn 768px */
    }
}


.hidden {
    opacity: 0;
    visibility: hidden;
}

.homepageimg {
    width: 100%;
    height: 715px;
    background:
        url(../img/anhdoinui.png) lightgray -37.28px -1532.253px / 103.142% 314.078% no-repeat;
}




.bg-filter {
    background-color: #0f492bd7;
    height: 100%;
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bg-filter-menu {
    background-color: #122718f3;
    height: 100%;
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-hambuger {
    margin-bottom: 0px !important;
}

.padding-booking {
    padding: 12px 12px 12px 32px;
    border-radius: 12px;
    background: var(--Background-Elevation-White, #FFF);
}

.text-booking {
    color: var(--Gray-Scale-50, #727272);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.06px;

}

.text-content {
    color: var(--Gray-Scale-80, #2E2E2E);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.bg-image>img {
    position: absolute;
    top: 54%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 485px;
    height: 521px;

}


.bg-image img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bg-image img.active {
    opacity: 1;
}


.text-m-booking {
    color: var(--Gray-Scale-0, #FFF);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;


}

.text-b-booking {
    color: var(--Gray-Scale-0, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0.14px;
    white-space: nowrap;
    overflow: hidden;
}

.line {
    width: 34px;
    height: 1px;
    transform: rotate(90deg);
    background-color: var(--Gray-Scale-5, #D9D9D9);
    padding-left: 24px;
    padding-right: 24px;


}

.text-left-homepage {
    color: var(--greyscaletext-0, #FFF);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.15px;
}

.text-cta {
    color: var(--Gray-Scale-0, #FFF);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0.5px;
}

.whatsapp-icon-container img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    left: 19%;
    bottom: 8%;

}


.cta_layout {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 16px
}

.whatsapp-icon-container {
    position: relative;
    width: 55px;
    height: 55px;

}



.icon-whatsapp-border {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;

    border-radius: 100px;
    background: rgba(255, 255, 255, 0.818);
    filter: blur(0px);
    z-index: 2;
    animation: whatsapp-animation 2s infinite ease-out;
}

.icon-whatsapp-border2 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 0.837);
    filter: blur(0px);
    z-index: 1;
    animation: whatsapp-animation 2s infinite ease-out;
    animation-delay: 1s;
}

.text-map {
    color: var(--BACKGROUND-ELEVATION-5, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    opacity: 0.4;
}

.text-change {
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 131.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: normal;
}



.button-booking {
    border-radius: 8px;
    background: var(--Orange-Normal, #E64827);
    padding: 12px 24px;
    appearance: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-booking:disabled {
    pointer-events: none;
}

.button-booking:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-booking:active {
    box-shadow: none;
    transform: translateY(0);
}

.start-with {
    display: none;
}

@keyframes whatsapp-animation {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}